.login-container{
    width: 100%;
    display: grid;
    place-items: center;
    padding-top: 4em;
    row-gap: 3rem;
}
.log-status{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    gap: 20rem;
    align-items: center;
    width: 100%;
}
.login-container h1{
    font-weight: 900;
}
form{
    display: grid;
    place-items: center;
    text-align: center;
    row-gap: 2rem;
    width: 100%;
}

form input{
    padding: 1.5em  0;
    border: none;
    border-radius: .5rem;
    font-size: 1.5rem;
    width:50%;
}
::placeholder{
    text-align: center;
}
.btn-container{
    width: 30%;
    padding-bottom: 2em;
}
button{
    padding: 1.5em 0;
    border: none;
    border-radius: 1rem;
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
}
button:hover{
    color:green;
}
.activeColor{
    padding-top: 0.3125em;
    height: 5rem;
    width: 10%;
    border: 2px solid white;
    border-radius: .5rem;
    cursor: pointer;
    text-align: center;
}
.pointer{
    cursor: pointer;
}
@media(max-width:700px){
    
    .log-status{
        flex-direction: column;
        gap: 2rem;
    }
    .activeColor{
        width: 50%;
    }
    form input{
        width: 90%;
    }
    .btn-container{
        width: 90%;
        padding-bottom: 2em;
    }
}
@media (min-width: 701px) and (max-width: 1000px){
    .log-status{
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 2em;
    }
    .activeColor{
        width: 50%;
    }
    form input{
        width: 90%;
        font-size: 2rem;
    }
    .btn-container{
        width: 90%;
        padding-bottom: 2em;
        
    }
    .btn-container button{
        font-size: 2.5rem;
    }
}