
 img{
    width: 70%;
    border: 1px solid #eee;
    border-radius: .5rem;
}
.main{
    display: grid;
}
.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 4rem;
    padding: 4em 2em;
    align-self: center;
    justify-self: center;
}